html
	head
	body
		script(src="/socket.io/socket.io.js")

		script(src='/scripts/dist/ClientState.js')
		script(src='/scripts/dist/Movable.js')

		script(src='/scripts/main.js')

		canvas#canvas(width='300', height='300', style='border: 1px solid black;')
