html
	head
	body
		script(src="/socket.io/socket.io.js")

		script(src='/scripts/dist/ClientState.js')
		script(src='/scripts/dist/commonClasses.js')
		script(src='/scripts/dist/clientClasses.js')

		script(src='/scripts/main.js')

		canvas#canvas(width='1024', height='768', style='border: 0; background: black;')
